/* 
Mitchell D. Kwon
CSD 340
bioSite
*/

body, html{
	width:100%;
	height:100%;
	margin:0;
	background-color: #4f646f;	
}


.container{
	width:100%;
	height:100%;
}

.leftpane{
	width:25%;
	height:100%;
	float:left;
	border-collapse: collapse;
	background-color: #4F646F;
}

.midddlepane{
	width:50%;
	height:100%;
	float:center;
	border-collapse: collapse;
}

.rightpane{
	width:25%;
	height:100%;
	float:right;
	border-collapse: collapse;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #DEE7E7;
	border: 1px solid #DEE7E7;
	float: top;
	clear:both;
	margin-left: 100px;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
 	text-decoration: none;
}

li {
	text-align: center;
	border-bottom: 1px solid #555;
}

li:last-child {
	border-bottom: none;
}

li a.active {
	background-color: #B7ADCF;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

h1{
	text-align: center;
}

img{
	float: right;
	margin-bottom:15px;
	margin-right: 100px;
	clear: both;
	height: 200px;
	width: 250px;
}
p{
	margin-left: 250px;
	margin-top: 20px;
	margin-right: 10px;
	overflow: auto;
	display: flex;
	text-align: left;
}

.header{
	background-color:#DEE7E7;
	text-align: right;
	padding: 15px;
}

.footer{
	background-color:#DEE7E7;
	text-align: left;
	padding: 15px;
}

figure{
	float: left;
	text-align: center;
	font-style: italic;
	
}






